body {
  background-color: #f3f9fb;
}

h1 {
  color: #1c4b82;
}

h3 {
  color: #87c0cd;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 10%;

}
