/*Overall Background Color template in all form pages*/

body {
    background-color: #cfe0e8;
}


/*Hover code overlay when hovering over profile picture*/

.container {
    position: relative;
    width: 50%;
}

.image {
    display: block;
    width: 250px;
    height: auto;
    border-radius: 50%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 250px;
    width: 250px;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.container:hover .overlay {
    opacity: 0.7;
}

.text {
    color: white;
    font-size: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -webkit-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
}


/*Transition element currently in progress. Working on including text within hover transition element */

.div {
    width: 150px;
    height: 20px;
    background: #fbefcc;
    -webkit-transition: width 2s;
    transition: width 2s;
}

.div:hover {
    width: 300px;
}


/*Hover code used for the index bar above. */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #667292;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

h1 {
    color: #1c4b82;
    text-align: center;
}

h3 {
    color: #87c0cd;
    text-align: center;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 10%;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    background: #dedede;
}


/*Social Media Code with hover elements. Formatting is off, will need to adjust! */

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}